{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="features">
        <h1>Tetragrammaton. Главная страница</h1>
        <p>Тетраграмматон (יהוה‎) получен объединением форм 3-го л., ед. ч. для прошлого, настоящего и будущего в. глагола היה‎ (форма пр. вр., 3-е л., ед. ч., не является инфинитивом, дословно — «был») «быть» и примерный смысл тетраграмматона — «(Он) был, есть и будет», некоторые учёные предлагают перевод «(Он) жив».</p>
    </div>
{% endblock %}
